<div class="control">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Control Gastos</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                        aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                        aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>

            </ul>
            <form class="form-inline my-2 my-lg-0">

                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
            </form>
        </div>
    </nav>
    <div class="row container p-0">
        <div class="col-12">
            <img class="container__imagen" src="assets/imagenes/ahorro5.jpeg" alt="ahorro5.jpeg">

        </div>

        <div class="container__texto col-6">
            <p class="container__titulo">Control Gastos</p>
            <h4 class="pt-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim mollitia ut saepe
                molestias nesciunt nulla ipsam quibusdam sequi, placeat nemo libero
                accusantium veniam! Incidunt tempora hic, odit ex quae voluptatum?</h4>
            <button type="button" class="btn btn-info">INGRESAR</button>
        </div>

    </div>
    <div class="contenedor">
        <div class="row contenedor2">


            <div class="col-4 m-auto pl-5 pr-5  contenedor2__parrafo">
                <h1 class="font-weight-bold">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem,
                    laboriosam
                    itaque expedita ad quia quos delectus dignissimos.</h1>
            </div>
            <div class="col-6">
                <div class="row pt-5">
                    <div class="col-6 pl-5 pr-5">
                        <mat-icon matSuffix>folder_shared</mat-icon>
                        <h2>Propuesta</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, laboriosam
                            itaque expedita ad quia quos</p>
                    </div>
                    <div class="col-6 pl-5 pr-5">
                        <mat-icon>groups</mat-icon>
                        <h2>Factura</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, laboriosam
                            itaque expedita ad quia quos</p>
                    </div>
                </div>
                <div class="row pt-4">
                    <div class="col-6 pl-5 pr-5">
                        <mat-icon matSuffix>folder_shared</mat-icon>
                        <h2>Propuesta</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, laboriosam
                            itaque expedita ad quia quos</p>

                    </div>
                    <div class="col-6 pl-5 pr-5">
                        <mat-icon>groups</mat-icon>
                        <h2>Factura</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, laboriosam
                            itaque expedita ad quia quos</p>
                    </div>
                </div>
            </div>


        </div>
        <div class="row contenedor3 bg-light">
            <div class="col-12">
                <h2 class="font-weight-bold text-center pt-5">Lorem ipsum dolor sit, amet consectetur adipisicing elit
                </h2>

            </div>
            <div class=" col-5 m-auto pt-1 pb-5 d-flex justify-content-around">
                <button type="button" class="btn btn-light">Light</button>
                <button type="button" class="btn btn-light">Light</button>
                <button type="button" class="btn btn-light">Light</button>
                <button type="button" class="btn btn-light">Light</button>
            </div>
        </div>
        <div class="row contenedor4">
            <div class="col-12">
                <div class="row pt-3 pb-1 ">
                    <div class="col-4 m-auto ">
                        <h2 class="font-weight-bold">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem,
                            laboriosam
                            itaque expedita ad quia quos delectus dignissimos.</h2>
                    </div>
                    <div class="col-4 m-auto">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae
                            cumque error mollitia quasi numquam illum, ipsa modi illo velit
                            nesciunt fugit itaque totam est tempora laborum nobis vitae, odit pariatur.</p>
                    </div>
                </div>
                <div class="row pt-3 pb-3">
                    <div class="col-4 m-auto shadow border border-secondary rounded-lg">
                        <div class="row">
                            <div class="col-1 m-2">
                                <mat-icon>groups</mat-icon>
                            </div>
                            <div class="col-10">
                                <h3 class="m-2 font-weight-bold">Control Gastos</h3>
                                <p class="m-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae
                                    cumque error mollitia quasi numquam illum, ipsa modi illo velit
                                    nesciunt fugit itaque totam est tempora laborum nobis vitae, odit pariatur.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 m-auto shadow border border-secondary rounded-lg">
                        <div class="row">
                            <div class="col-1 m-2">
                                <mat-icon>groups</mat-icon>
                            </div>
                            <div class="col-10">
                                <h3 class="m-2 font-weight-bold">Control Gastos</h3>
                                <p class="m-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae
                                    cumque error mollitia quasi numquam illum, ipsa modi illo velit
                                    nesciunt fugit itaque totam est tempora laborum nobis vitae, odit pariatur.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row pt-3 pb-5">
                    <div class="col-4 m-auto shadow border border-secondary rounded-lg">
                        <div class="row">
                            <div class="col-1 m-2">
                                <mat-icon>groups</mat-icon>
                            </div>
                            <div class="col-10">
                                <h3 class="m-2 font-weight-bold">Control Gastos</h3>
                                <p class="m-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae
                                    cumque error mollitia quasi numquam illum, ipsa modi illo velit
                                    nesciunt fugit itaque totam est tempora laborum nobis vitae, odit pariatur.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 m-auto shadow border border-secondary rounded-lg">
                        <div class="row">
                            <div class="col-1 m-2">
                                <mat-icon>groups</mat-icon>
                            </div>
                            <div class="col-10">
                                <h3 class="m-2 font-weight-bold">Control Gastos</h3>
                                <p class="m-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae
                                    cumque error mollitia quasi numquam illum, ipsa modi illo velit
                                    nesciunt fugit itaque totam est tempora laborum nobis vitae, odit pariatur.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row contenedor5">
            <div class="col-6 m-auto ">
                <div class="row d-flex justify-content-center">
                    <div class="col-6">
                        <h2>Comentarios</h2>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim mollitia ut saepe
                            molestias nesciunt nulla ipsam quibusdam sequi, placeat nemo libero
                            accusantium veniam! Incidunt tempora hic, odit ex quae voluptatum?</p>
                        <button type="button" class="btn btn-info">Subscribete ahora</button>
                    </div>
                </div>
            </div>

            <div class="col-6 pt-4">
                <div class="row d-flex justify-content-start ">
                    <div class="col-6 border bg-light">
                        <div class="row">
                            <div class="col-12 pt-4 pl-4">
                                <mat-icon>star</mat-icon>
                                <mat-icon>star</mat-icon>
                                <mat-icon>star</mat-icon>
                                <mat-icon>star</mat-icon>
                                <mat-icon>star</mat-icon>
                            </div>
                        </div>
                        <p class="m-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae
                            cumque error mollitia quasi numquam illum.</p>
                        <p class="font-weight-bold pt-2 m-3">Luis Alberto</p>
                    </div>
                </div>
                <div class="row d-flex justify-content-center pt-4 pb-4 ">
                    <div class="col-6 border bg-light">
                        <div class="row">
                            <div class="col-12 pt-4 pl-4">
                                <mat-icon>star</mat-icon>
                                <mat-icon>star</mat-icon>
                                <mat-icon>star</mat-icon>
                                <mat-icon>star</mat-icon>
                                <mat-icon>star</mat-icon>
                            </div>
                        </div>
                        <p class="m-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae
                            cumque error mollitia quasi numquam illum, ipsa modi illo velit
                            nesciunt fugit itaque totam est tempora laborum nobis vitae, odit pariatur.</p>
                        <p class="font-weight-bold pt-2 m-3">Dany Daniel</p>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row contenedor6 pt-5">
            <div class="col-12">
                <div class="row d-flex justify-content-center">
                    <div class="col-4 ">
                        <h1 class="text-center">NUESTROS PRECIOS</h1>
                        <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Beatae corrupti excepturi perspiciatis! Enim, temporibus sint.
                            Incidunt recusandae officiis, tenetur ipsum esse, voluptates minus
                            obcaecati vero illo molestias aut libero asperiores.</p>
                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class=" col-2 btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-primary active">
                            <input type="radio" name="options" id="option2"> Anual
                        </label>
                        <label class="btn btn-primary">
                            <input type="radio" name="options" id="option3"> Mensual
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-12 ">
                <div class="row justify-content-center">
                    <div class="col-10 pt-5 pb-5 pr-0 pl-0 d-flex justify-content-center">
                        <div class="row justify-content-around">
                            <div class="col-3 ">
                                <div class="row">
                                    <div class="col-12 text-center shadow border border-secondary rounded-lg">
                                        <h3 class="m-2 font-weight-bold">Basico</h3>
                                        <p class="m-2">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                                        <h3 class="m-2 font-weight-bold">$9/Mensual</h3>
                                        <div class="row justify-content-center">
                                            <div class="col-10 m-4 ">
                                                <button type="button"
                                                    class="btn btn-outline-info btn-block">Insccribete</button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="row pt-4">
                                    <div class="col-1">
                                        <mat-icon>verified</mat-icon>
                                    </div>
                                    <div class="col-10">
                                        <h5 class=" font-weight-bold">Control Gastos</h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-1">
                                        <mat-icon>verified</mat-icon>
                                    </div>
                                    <div class="col-10">
                                        <h5 class=" font-weight-bold">Control Gastos</h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-1">
                                        <mat-icon>verified</mat-icon>
                                    </div>
                                    <div class="col-10">
                                        <h5 class=" font-weight-bold">Control Gastos</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3 ">
                                <div class="row">
                                    <div class="col-12 text-center shadow border border-secondary rounded-lg">
                                        <h3 class="m-2 font-weight-bold">Basico</h3>
                                        <p class="m-2">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                                        <h3 class="m-2 font-weight-bold">$9/Mensual</h3>
                                        <div class="row justify-content-center">
                                            <div class="col-10 m-4 ">
                                                <button type="button"
                                                    class="btn btn-outline-info btn-block">Insccribete</button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="row pt-4">
                                    <div class="col-1">
                                        <mat-icon>verified</mat-icon>
                                    </div>
                                    <div class="col-10">
                                        <h5 class=" font-weight-bold">Control Gastos</h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-1">
                                        <mat-icon>verified</mat-icon>
                                    </div>
                                    <div class="col-10">
                                        <h5 class=" font-weight-bold">Control Gastos</h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-1">
                                        <mat-icon>verified</mat-icon>
                                    </div>
                                    <div class="col-10">
                                        <h5 class=" font-weight-bold">Control Gastos</h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-1">
                                        <mat-icon>verified</mat-icon>
                                    </div>
                                    <div class="col-10">
                                        <h5 class=" font-weight-bold">Control Gastos</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3 ">
                                <div class="row">
                                    <div class="col-12 text-center shadow border border-secondary rounded-lg">
                                        <h3 class="m-2 font-weight-bold">Basico</h3>
                                        <p class="m-2">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                                        <h3 class="m-2 font-weight-bold">$9/Mensual</h3>
                                        <div class="row justify-content-center">
                                            <div class="col-10 m-4 ">
                                                <button type="button"
                                                    class="btn btn-outline-info btn-block">Insccribete</button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="row pt-4">
                                    <div class="col-1">
                                        <mat-icon>verified</mat-icon>
                                    </div>
                                    <div class="col-10">
                                        <i class="icofont-check-circled"></i>
                                        
                                        <h5 class=" font-weight-bold">Control Gastos</h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-1">
                                        <mat-icon>verified</mat-icon>
                                    </div>
                                    <div class="col-10">
                                        <h5 class=" font-weight-bold">Control Gastos</h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-1">
                                        <mat-icon>verified</mat-icon>
                                    </div>
                                    <div class="col-10">
                                        <h5 class=" font-weight-bold">Control Gastos</h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-1">
                                        <mat-icon>verified</mat-icon>
                                    </div>
                                    <div class="col-10">
                                        <h5 class=" font-weight-bold">Control Gastos</h5>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>


            </div>
        </div>
        <hr>
        <div class="row pt-4 pb-4 bg-secondary text-white contenedor7 justify-content-around ">
            <div class="col-3 text-center">
                <p class="font-weight-bold">CONTROL GASTOS</p>
            </div>
            <div class="col-3 text-center">
                <p>hola</p>
            </div>
            <div class="col-3 text-center">
                <p>hola</p>
            </div>
            <div class="col-3 text-center">
                <mat-icon>facebook</mat-icon>               
                <mat-icon>email</mat-icon>               
            </div>

        </div>

    </div>
</div>